h2{
   color: rgb(37, 25, 9);
   text-transform: capitalize;

}
style>#f1{
   color: rgb(10, 4, 4);

}
body {
background-image: url("—Pngtree—futuristic\ shape\ abstract\ background\ chemistry_1250295\ \(1\).jpg");
}
ul{
color: rgb(9, 9, 19);
text-transform: capitalize;
}
table{
       border: 1px solid black;
       padding: 5px;

   }
   td,th{
       border: 1px solid black;
       ;
   }
   .update-controller{
      display: none;
   }